@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(210, 210, 210, 0.8); /* Indigo */
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}
